@font-face {
    font-family: "CrewSans";
    src: url("fonts/thecrewsans-regular-webfont.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "CrewSans";
    src: url("fonts/thecrewsans-bold-webfont.ttf") format("truetype");
    font-weight: 700;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
    color:#fff;
    font-family:"CrewSans",sans-serif;
}

#overlay{
    width:100%;
    height:100%;
    padding:2.5%;
    display:flex;
    flex-direction:column;
}

/* ---------------- HEADER ---------------- */

header{
    height:22%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#title h1{

    font-size:8vh;
    font-weight:700;
    text-align:center;

}

#title p{

    margin-top:.3vh;
    font-size:2.2vh;
    color:#dddddd;
    text-align:center;

}

/* ---------------- CONTENT ---------------- */

#content{

    flex:1;

    display:flex;

    justify-content:space-between;

    gap:1.5%;

}

/* ---------------- PANELS ---------------- */

.panel{

    border:none;

    overflow:hidden;

    padding:1.3%;

    color:white;

}

.yellow{

    width:41%;

    background:#FFD000;

}

.cyan{

    width:39%;

    background:#4CC7CC;

}

.blue{

    width:20%;

    background:#1FAEE3;

}

/* ---------------- TYPOGRAPHY ---------------- */

.panel h1{

    font-size:4.8vh;

    font-weight:700;

    line-height:1;

    margin-bottom:1vh;

}

.panel h2{

    font-size:3.5vh;

    margin-bottom:1vh;

}

.panel h3{

    font-size:2.6vh;

    margin-top:1vh;

    margin-bottom:.5vh;

}

.panel p,
.panel li,
.panel div{

    font-size:2vh;

    line-height:1.3;

}

ul{

    margin-left:1.5vw;

}

hr{

    margin:1vh 0;

    border:none;

    height:2px;

    background:white;

}

/* ---------------- DRIVER ---------------- */

#avatar{

    display:block;

    width:70%;

    margin:1vh auto;

}

/* ---------------- FOOTER ---------------- */

footer{

    height:10%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:3.8vh;

    font-weight:700;

}
